{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container">

		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<h2 class="text-center mb-5">login</h2>
			<div class="border border-dark p-5">

				<label for="inputEmail" class="sr-only mb-3">userName</label>
				<input type="text" value="{{ last_username }}" name="userName" id="inputUserName" class="form-control mb-3" placeholder="User Name" required autofocus>
				<label for="inputPassword" class="sr-only mb-3">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="text-center">

					<div>
						<a href="{{ path('forgot') }}">Forgot Password ?</a>
					</div>

					<button class="btn btn-primary round mt-3" type="submit">
						Login
					</button>

				</div>
			</div>
		</form>
	</div>

{% endblock %}
