{% extends 'base.html.twig' %}

{% block title %}{{controller_name}}{% endblock %}

{% block body %}
<header class="img-header" >
   <div class="container h-100">
      <div class="row h-50 align-items-center">
         <div class="col-lg-12 text-center">
            <h1 class="text-w mt-5 mb-4">SNOWTRICKS</h1>
            <p class=" text-w lead mb-5">Le site communautaire SNOWTRICKS est la référence pour apprendre les figures de snowboard</p>
         </div>
      </div>
      <a href="#tricks" class="arrow-down fas fa-3x fa-arrow-down"></a>
   </div>
   
</header>

<!-- Page Content -->
<div class="container page-tricks">
   <div class="row" id="tricks">
      {% for trick in tricks %}
         <div class="col-md-3 mb-5">
            <div class="card h-100">
               <img class="card-img-top" src="http://placehold.it/300x200" alt="">
               <div class="card-body">
                  <a href="{{ path('detail_trick', {slug: trick.slug, id: trick.id}) }}">
                     <h6 class="card-title">{{ trick.name }}</h6>
                  </a>
                  <a href="">
                     <i class="fas fa-pencil-alt"></i>
                  </a>
                  <a href="">
                     <i class="fas fa-trash-alt"></i>
                  </a>
               </div>
            </div>
         </div>
      {% endfor %}
      
   </div>
   <!-- /.row -->
</div>


   <a href="#nav" class="arrow-up fas fa-3x fa-arrow-up"></a>

   

<!-- /.container -->
{% endblock %}
