{% extends 'base.html.twig' %}


{% block body %}
   <div class="container">
      <div class="jumbotron mt-5">
         <h1 class="display-4">Votre Compte à déjà été activé</h1>
         <p class="lead">Vous pouvez désormais vous connecter avec votre user name ainsi que votre mot de passe.</p>
         <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Vous connecter</a>
      </div>
   </div>

{% endblock %}
