{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="jumbotron mt-5">
			<h1 class="display-4">Your Account has already been activated</h1>
			<p class="lead">You can now log in with your user name and password.</p>
			<a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Log in</a>
		</div>
	</div>

{% endblock %}
