{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="jumbotron mt-5">
			<h1 class="display-4">There was a problem with your account validation.</h1>
			<p class="lead">I invite you to renew your registration.</p>
			<a class="btn btn-primary btn-lg" href="{{ path('user') }}" role="button">Register</a>
		</div>
	</div>
{% endblock %}
