{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="text-center mb-5">Registration</h2>

		<div class="border border-dark p-5">

			{{ form_start(form) }}

			{{ form_widget(form) }}
			<div class="text-center">
				<div>
					<a href="{{ path('app_login') }}">Already on account ?</a>

				</div>
				<button type="submit" class="btn btn-primary round mt-3">Save</button>

			</div>

			{{ form_end(form) }}

		</div>

	</div>

{% endblock %}
